<div
  class="absolute z-50 flex flex-col rounded-md border border-white/30 bg-black p-0.5"
  [ngClass]="styles()"
  [attr.data-modal-type]="modalType()"
>
  @for (item of filteredMenuItems(); track item.label) {
    <button
      class="flex w-full cursor-pointer gap-1 rounded-md px-2 py-1.5 text-left text-white transition-colors duration-300 hover:bg-white/20"
      (click)="onItemClick(item, $event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        [attr.fill]="item.fill ? 'currentColor' : 'none'"
        stroke="currentColor"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outlined h-5 w-5"
        [class]="item.iconClass"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        @for (path of item.svgPath; track $index) {
          <path [attr.d]="path" />
        }
      </svg>

      <span class="text-sm">{{ item.label }}</span>
    </button>
  }
</div>
