<div
  class="cursor-pointer rounded-lg px-4 py-3 hover:bg-gray-800/30"
  [id]="'comment-' + comment().id"
  (click)="handleCommentNavigate($event)"
>
  <!-- Comment Header -->
  <div class="flex items-center justify-between">
    <!-- user info -->
    <div class="flex items-center space-x-2 font-light">
      <div class="bg-secondary flex h-5.5 w-5.5 items-center justify-center rounded-full">
        <span class="text-xs font-bold text-white lg:text-[10px]">{{
          comment().username | initials
        }}</span>
      </div>
      <p class="line-clamp-1 text-xs font-bold break-words text-gray-500 lg:text-sm">
        {{ comment().username }}
      </p>
      <p class="text-xs text-gray-500 lg:text-sm">{{ comment().commentedAt | timeago }}</p>
    </div>

    <!-- Three dots -->
    <div class="comment-menu-container relative" #menuContainer>
      <button
        (click)="toggleCommentMenu($event, comment().id)"
        class="action-btn cursor-pointer rounded-full px-2 py-2 text-white hover:bg-gray-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-three-dots"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
          />
        </svg>
      </button>

      @if (getActiveCommentMenuId() === comment().id) {
        <app-dropdown-menu
          animate.enter="dropdown-fade-in"
          animate.leave="dropdown-fade-out"
          styles="w-32 right-0"
          [isOwner]="comment().isOwner"
          [dropdownItems]="commentMenuItems"
        />
      }
    </div>
  </div>

  <!-- Comment Content -->
  <div class="pl-7.5 text-white/70">
    <p class="text-sm font-light tracking-wide">{{ comment().content }}</p>
  </div>
</div>
