<main
  class="w-full h-screen mx-auto sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[110rem]"
>
  <app-header />

  <div class="h-screen grid grid-cols-12 gap-0">
    <app-side-navigation class="hidden lg:block lg:col-span-3 2xl:col-span-2"></app-side-navigation>

    <div class="col-span-12 lg:col-span-6 2xl:col-span-8 pt-13">
      <router-outlet />
    </div>

    <!-- Under Development Recent Post -->
    <!-- <app-recent-view class="hidden lg:block lg:col-span-3 2xl:col-span-2"></app-recent-view> -->
    <app-right-sidebar class="hidden lg:block lg:col-span-3 2xl:col-span-2"></app-right-sidebar>
  </div>

  <app-modal
    [isOpen]="isModalOpen()"
    [title]="modalTitle()"
    [description]="modalDescription()"
    (closeModal)="closeModal()"
  >
    <app-community-form></app-community-form
  ></app-modal>
</main>
