<div class="px-3 lg:px-15 2xl:px-23 py-10">
  <div class="text-gray-500 font-bold tracking-wide mb-5">
    <h2 class="text-3xl lg:text-4xl">Create Post</h2>
  </div>

  <!-- Select Commuity Btn -->
  <button
    #toggleButton
    (click)="showCommunitySelection()"
    class="relative px-3 rounded-2xl cursor-pointer bg-gray-500/30 hover:bg-gray-500/35 transition-colors duration-300 w-full max-w-xs"
    [class.hidden]="isCommunitySelectionSelected()"
  >
    @if (!selectedCommunity()) {
      <div class="flex items-center space-x-3">
        <div
          class="text-gray-400 absolute inset-y-0 left-0 pl-3 flex items-center bottom-[3px] pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-users-group"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M17 10h2a2 2 0 0 1 2 2v1" />
            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
          </svg>
        </div>

        <span class="text-gray-400 w-full pl-8 pr-3 text-left py-2 font-medium"
          >Select Community</span
        >

        <div class="text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 9l6 6l6 -6" />
          </svg>
        </div>
      </div>
    } @else if (selectedCommunity()) {
      <div class="flex items-center justify-between transition-colors duration-300 rounded-lg py-2">
        <div class="flex items-center space-x-3">
          <div class="w-7 h-7 bg-green-500 rounded-full flex items-center justify-center">
            <span class="text-white text-xs lg:text-sm font-bold">{{
              selectedCommunity()?.communityName | initials
            }}</span>
          </div>

          <span class="text-white">{{ selectedCommunity()?.communityName }}</span>
        </div>

        <button
          (click)="removeCommunity()"
          type="button"
          class="text-gray-400 hover:text-gray-300 transition-colors cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>
    }
  </button>

  <form [formGroup]="postForm" (ngSubmit)="onPostSubmit()" #formContainer class="flex flex-col">
    <!-- Community -->
    <div class="relative mb-3" [class.hidden]="!isCommunitySelectionSelected()">
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center bottom-[3px] pointer-events-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-device-ipad-horizontal-search h-5 w-5 text-gray-500"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M11.5 20h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5" />
          <path d="M9 17h2" />
          <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M20.2 20.2l1.8 1.8" />
        </svg>
      </div>

      <!-- Search Input -->
      <input
        #searchInput
        [formControl]="searchControl"
        type="text"
        placeholder="Search your communities"
        class="block border-gray-500/80 border rounded-md max-w-xs w-full pl-10 pr-3 py-2 text-gray-500 hover:border-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-500 text-sm transition-colors"
      />

      <!-- Dropdown container -->
      <div
        #dropdownContainer
        class="scrollbar-container absolute z-10 mt-2 max-w-xs w-full bg-primary border border-white/30 rounded-md"
      >
        <div class="hide-scrollbar max-h-64 overflow-y-auto">
          @if (filteredUserCommunities().length === 0) {
            <div class="px-4 py-3 text-gray-400 text-sm">No Communities Found</div>
          } @else {
            @for (community of filteredUserCommunities(); track community.id) {
              <div
                (click)="selectCommunity(community)"
                class="px-4 py-3 hover:bg-gray-700/50 cursor-pointer transition-colors border-b border-gray-700/50 last:border-b-0"
              >
                <div class="flex items-center space-x-3 text-white">
                  <div class="w-7 h-7 bg-green-500 rounded-full flex items-center justify-center">
                    <span class="text-white text-xs lg:text-sm font-bold">{{
                      community.communityName | initials
                    }}</span>
                  </div>

                  <span class="font-medium">{{ community.communityName }}</span>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>

    <!-- Title -->
    <div
      class="mt-8 flex flex-col w-full bg-primary border border-white/30 px-3.5 py-1 rounded-md gap-1"
    >
      <div class="flex justify-between space-x-2">
        <label for="content" class="text-gray-500 font-light form-label">Title</label>
        @if (titleErrors) {
          <div class="flex items-center space-x-1 text-red-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle w-4 h-4 mt-[-3px]"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 9v4" />
              <path d="M12 16v.01" />
            </svg>

            <span class="text-sm">Title is required</span>
          </div>
        }
      </div>
      <input
        id="title"
        formControlName="title"
        type="text"
        class="form-control text-white focus:outline-none focus:border-transparent font-light"
      />
    </div>

    <!-- Content -->
    <div
      class="mt-8 flex flex-col w-full bg-primary border border-white/30 px-3.5 py-1 rounded-md gap-1"
    >
      <div class="flex justify-between space-x-2">
        <label for="content" class="text-gray-500 font-light form-label">Content</label>
        @if (contentErrors) {
          <div class="flex items-center space-x-1 text-red-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle w-4 h-4 mt-[-3px]"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 9v4" />
              <path d="M12 16v.01" />
            </svg>

            <span class="text-sm">Content is required</span>
          </div>
        }
      </div>

      <textarea
        placeholder="What's on your mind?"
        id="content"
        rows="6"
        formControlName="content"
        type="text"
        class="form-control text-white focus:outline-none focus:border-transparent font-light placeholder:text-gray-600"
      ></textarea>
    </div>

    <div class="flex justify-end mt-5">
      <button
        type="submit"
        [disabled]="postForm.invalid"
        class="text-white px-8 py-3 font-medium text-sm cursor-pointer bg-secondary rounded-full transition-colors duration-300 hover:bg-secondary/80 disabled:bg-gray-500/20 disabled:text-gray-600 disabled:cursor-not-allowed max-w-fit w-full"
      >
        @if (this.isSubmitting()) {
          <div class="flex items-center justify-center py-2.5 px-8">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="w-8 h-8 absolute">
              <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="40" cy="100">
                <animate
                  attributeName="opacity"
                  calcMode="spline"
                  dur="2"
                  values="1;0;1;"
                  keySplines=".5 0 .5 1;.5 0 .5 1"
                  repeatCount="indefinite"
                  begin="-.4"
                ></animate>
              </circle>
              <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="100" cy="100">
                <animate
                  attributeName="opacity"
                  calcMode="spline"
                  dur="2"
                  values="1;0;1;"
                  keySplines=".5 0 .5 1;.5 0 .5 1"
                  repeatCount="indefinite"
                  begin="-.2"
                ></animate>
              </circle>
              <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="160" cy="100">
                <animate
                  attributeName="opacity"
                  calcMode="spline"
                  dur="2"
                  values="1;0;1;"
                  keySplines=".5 0 .5 1;.5 0 .5 1"
                  repeatCount="indefinite"
                  begin="0"
                ></animate>
              </circle>
            </svg>
          </div>
        } @else {
          Create Post
        }
      </button>
    </div>
  </form>
</div>
