<div class="p-5 flex items-center justify-center mx-auto max-w-md h-screen">
  <div class="border border-gray-600 w-full rounded-xl p-7 flex flex-col justify-center">
    <div class="flex flex-col items-center space-y-2 mb-8">
      <p class="text-secondary font-semibold text-[1.7rem] lg:text-3xl tracking-wide">
        Welcome to Trail
      </p>
      <span
        class="text-white/30 font-light tracking-wider text-center max-w-[18rem] lg:max-w-xs text-xs lg:text-sm"
        >Sign up to post, comment, and explore the latest on Trail.</span
      >
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="flex flex-col w-full max-w-90 mx-auto mb-3">
      <!-- Username -->
      <div
        class="flex flex-col w-full bg-gray-700/10 border border-gray-600/30 px-3.5 py-1 rounded-md gap-1 mb-3"
      >
        <div class="flex items-center justify-between space-x-2">
          <div class="flex items-center space-x-1">
            <button
              zPopover
              [zContent]="usernamePopover"
              zPlacement="top"
              zTrigger="hover"
              class="text-gray-500 cursor-pointer"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="h-3.8 w-3.8 -mt-0.5"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.568 1.031A6.8 6.8 0 0 1 12.76 3.05a7.06 7.06 0 0 1 .46 9.39 6.85 6.85 0 0 1-8.58 1.74 7 7 0 0 1-3.12-3.5 7.12 7.12 0 0 1-.23-4.71 7 7 0 0 1 2.77-3.79 6.8 6.8 0 0 1 4.508-1.149zM9.04 13.88a5.89 5.89 0 0 0 3.41-2.07 6.07 6.07 0 0 0-.4-8.06 5.82 5.82 0 0 0-7.43-.74 6.06 6.06 0 0 0 .5 10.29 5.81 5.81 0 0 0 3.92.58zM7.375 6h1.25V5h-1.25v1zm1.25 1v4h-1.25V7h1.25z"
                />
              </svg>
            </button>
            <label for="username" class="text-gray-500 font-light text-sm form-label"
              >Username</label
            >

            <ng-template #usernamePopover>
              <z-popover class="bg-primary text-white border-white/30 hidden lg:block ml-65">
                <div class="space-y-2">
                  <h5 class="font-medium leading-none text-[1rem]">Username must have:</h5>
                  <ul class="text-sm text-muted-foreground text-gray-500">
                    <li>Minimum length of 5 letters</li>
                  </ul>
                </div>
              </z-popover>
            </ng-template>
          </div>

          @if (usernameErrors) {
          <span class="text-sm text-red-700 font-light">Username is Invalid</span>
          }
        </div>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="text-white focus:outline-none focus:border-transparent text-sm font-light"
        />
      </div>

      <!-- Email -->
      <div
        class="flex flex-col w-full bg-gray-700/10 border border-gray-600/30 px-3.5 py-1 rounded-md gap-1 mb-3"
      >
        <div class="flex items-center justify-between space-x-2">
          <div class="flex items-center space-x-1">
            <button
              zPopover
              [zContent]="emailPopover"
              zPlacement="top"
              zTrigger="hover"
              class="text-gray-500 cursor-pointer"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="h-3.8 w-3.8 -mt-0.5"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.568 1.031A6.8 6.8 0 0 1 12.76 3.05a7.06 7.06 0 0 1 .46 9.39 6.85 6.85 0 0 1-8.58 1.74 7 7 0 0 1-3.12-3.5 7.12 7.12 0 0 1-.23-4.71 7 7 0 0 1 2.77-3.79 6.8 6.8 0 0 1 4.508-1.149zM9.04 13.88a5.89 5.89 0 0 0 3.41-2.07 6.07 6.07 0 0 0-.4-8.06 5.82 5.82 0 0 0-7.43-.74 6.06 6.06 0 0 0 .5 10.29 5.81 5.81 0 0 0 3.92.58zM7.375 6h1.25V5h-1.25v1zm1.25 1v4h-1.25V7h1.25z"
                />
              </svg>
            </button>
            <label for="email" class="text-gray-500 font-light text-sm form-label">Email</label>

            <ng-template #emailPopover>
              <z-popover class="bg-primary text-white border-white/30 hidden lg:block ml-65">
                <div class="space-y-2">
                  <h5 class="font-medium leading-none text-[1rem]">Email must be:</h5>
                  <ul class="text-sm text-muted-foreground text-gray-500">
                    <li>A valid email (e.g. @gmail, @yahoo, etc)</li>
                  </ul>
                </div>
              </z-popover>
            </ng-template>
          </div>
          @if (emailErrors) {
          <span class="text-sm text-red-700 font-light">Email is Invalid</span>
          }
        </div>
        <input
          id="email"
          formControlName="email"
          type="text"
          class="text-white focus:outline-none focus:border-transparent text-sm font-light"
        />
      </div>

      <!-- Password -->
      <div
        class="flex flex-col w-full bg-gray-700/10 border border-gray-600/30 px-3.5 py-1 rounded-md gap-1 mb-3"
      >
        <div class="flex items-center justify-between space-x-2">
          <div class="flex items-center space-x-1">
            <button
              zPopover
              [zContent]="passwordPopover"
              zPlacement="top"
              zTrigger="hover"
              class="text-gray-500 cursor-pointer"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="h-3.8 w-3.8 -mt-0.5"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.568 1.031A6.8 6.8 0 0 1 12.76 3.05a7.06 7.06 0 0 1 .46 9.39 6.85 6.85 0 0 1-8.58 1.74 7 7 0 0 1-3.12-3.5 7.12 7.12 0 0 1-.23-4.71 7 7 0 0 1 2.77-3.79 6.8 6.8 0 0 1 4.508-1.149zM9.04 13.88a5.89 5.89 0 0 0 3.41-2.07 6.07 6.07 0 0 0-.4-8.06 5.82 5.82 0 0 0-7.43-.74 6.06 6.06 0 0 0 .5 10.29 5.81 5.81 0 0 0 3.92.58zM7.375 6h1.25V5h-1.25v1zm1.25 1v4h-1.25V7h1.25z"
                />
              </svg>
            </button>
            <label for="password" class="text-gray-500 font-light text-sm form-label"
              >Password</label
            >

            <ng-template #passwordPopover>
              <z-popover class="bg-primary text-white border-white/30 hidden lg:block ml-65">
                <div class="space-y-2">
                  <h5 class="font-medium leading-none text-[1rem]">Password must have:</h5>
                  <ul class="text-sm text-muted-foreground text-gray-500">
                    <li>At least one uppercase letter</li>
                    <li>At least one lowecase letter</li>
                    <li>At least one special character (e.g. #@$)</li>
                    <li>At least one number (0 - 9)</li>
                    <li>Minimum of 8 characters</li>
                  </ul>
                </div>
              </z-popover>
            </ng-template>
          </div>

          @if (passwordErrors) {
          <span class="text-sm text-red-700 font-light">Password is Invalid</span>
          }
        </div>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="text-white focus:outline-none focus:border-transparent text-sm font-light"
        />
      </div>

      <!-- Confirm Password -->
      <div
        class="flex flex-col w-full bg-gray-700/10 border border-gray-600/30 px-3.5 py-1 rounded-md gap-1 mb-8"
      >
        <div class="flex items-center space-x-2 justify-between">
          <label for="confirmPass" class="text-gray-500 font-light text-sm form-label"
            >Cofirm Password</label
          >
          @if (passwordMismatchError) {
          <span class="text-sm text-red-700 font-light">Password is not match</span>
          }
        </div>
        <input
          id="confirmPass"
          formControlName="confirmPassword"
          type="password"
          class="text-white focus:outline-none focus:border-transparent text-sm font-light"
        />
      </div>

      <app-button
        btnText="Sign Up"
        size="full"
        fontSize="sm"
        btnType="submit"
        [isDisabled]="signupForm.invalid || this.isRegistering()"
        [isLoading]="this.isRegistering()"
      />
    </form>

    <div class="text-white flex space-x-1.5 items-center justify-center mb-2">
      <p class="font-light text-sm text-gray-400">Already have an Account?</p>
      <p
        class="text-sm text-secondary cursor-pointer hover:underline transition duration-300"
        routerLink="/login"
      >
        Sign In
      </p>
    </div>

    <!-- Back to Home -->
    <div class="mb-2 flex items-center justify-center space-x-1.5 text-white">
      <p class="text-sm font-light text-gray-400">Back to Home?</p>
      <p
        class="text-secondary cursor-pointer text-sm transition duration-300 hover:underline"
        routerLink="/"
      >
        Home
      </p>
    </div>
  </div>
</div>
