<aside class="sticky top-17 bg-black text-white scrollbar-container rounded-xl">
  <div class="h-[calc(100vh-4.5rem)] overflow-y-auto hide-scrollbar">
    <div class="p-4">
      <div class="px-3 py-2 flex items-center justify-between">
        <span class="text-sm dont-light text-gray-500">Recent Viewed Post</span>
        <button class="text-gray-600 font-light text-sm cursor-pointer">Clear</button>
      </div>

      <div class="space-y-1 py-2">
        @for (blog of sampleBlogList(); track blog.id) {
        <div class="px-3 py-2 w-full cursor-pointer hover:bg-gray-800/50 rounded-lg">
          <span class="text-gray-400 text-sm">{{ blog.communityName }}</span>
          <p class="font-light">{{ blog.title }}</p>
          <p class="text-xs font-extralight text-gray-500 line-clamp-2 break-words">
            {{ blog.content }}
          </p>

          <div class="flex items-center text-xs space-x-2 py-1 mt-3 text-gray-400">
            <div class="flex items-center space-x-1">
              <span>{{ blog.totalLikes }}</span>
              <p>Likes</p>
            </div>

            <div class="flex items-center space-x-1">
              <span>{{ blog.totalComments }}</span>
              <p>comments</p>
            </div>
          </div>
        </div>
        <z-divider class="bg-white/20"></z-divider>
        }
      </div>
    </div>
  </div>
</aside>
