<div class="py-5 lg:px-5 2xl:px-16">
  <div class="mb-3 hidden border-b border-b-white/20 lg:block">
    <!-- Filtering of Post -->
    <app-tooltip toolTipText="Filter Post">
      <div class="relative">
        <button
          (click)="togglePostMenuFilter()"
          class="action-btn mb-2 flex cursor-pointer items-center space-x-1 rounded-full px-3 py-1.5 text-sm font-light text-white hover:bg-gray-800/50"
        >
          <span>{{ activePostFilter() }}</span>
          <svg
            class="h-5 w-5 transition-transform duration-300"
            [class.rotate-180]="isPostMenuFilterOpen()"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path
              d="M19.5 8.25L12 15.75L4.5 8.25"
              stroke="#0F172A"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        @if (isPostMenuFilterOpen()) {
          <div
            class="absolute top-9 z-50 flex w-24 flex-col rounded-md border border-white/30 bg-black p-0.5"
            animate.enter="dropdown-fade-in"
            animate.leave="dropdown-fade-out"
            data-modal-type="post-filter"
          >
            <span class="flex w-full gap-1 px-2 py-1.5 text-left text-sm font-medium text-gray-500"
              >Filter by</span
            >
            @for (item of postFilterType(); track $index) {
              <button
                (click)="togglePostFilter(item)"
                class="flex w-full cursor-pointer gap-1 px-2 py-1.5 text-left text-sm text-white transition-colors duration-300 hover:bg-white/20"
              >
                <span>{{ item }}</span>
              </button>
            }
          </div>
        }
      </div>
    </app-tooltip>
  </div>

  <div class="">
    <app-post-list [posts]="popularPosts()" [isLoading]="isPopularPostsLoading()" />
  </div>
</div>
