@if (communitiesLoading()) {
  @for (item of skeletonArray; track $index) {
    <div class="flex justify-between items-center animate-pulse px-4 py-3">
      <div class="flex items-center space-x-2">
        <!-- skeleton avatar -->
        <div class="w-10 h-10 bg-gray-700 rounded-full"></div>

        <!-- skeleton text -->
        <div class="flex flex-col">
          <div class="h-4 w-40 bg-gray-700 rounded mb-2"></div>
          <div class="h-3 w-56 bg-gray-700 rounded"></div>
        </div>
      </div>

      <!-- skeleton actions -->
      <div class="flex items-center space-x-3">
        <div class="w-6 h-6 bg-gray-700 rounded"></div>
        <div class="w-20 h-8 bg-gray-700 rounded-full"></div>
      </div>
    </div>
  }
} @else {
  @for (community of filteredUserCommunities(); track community.id) {
    <app-community-card
      [community]="community"
      [isFavorite]="isCommunityFavorite(community.id)"
      (toggleFavoriteAction)="handleCommunityFavorite($event)"
      (leaveCommunityAction)="handleLeaveCommunity($event)"
    />
  }
}
