@for (post of posts(); track post.id) {
  <app-post-card
    [post]="post"
    [isUserJoined]="isUserInCommunity(post.communityId)"
    [isPostMenuOpen]="isPostMenuOpen(post.id)"
    [isPostReactModalOpen]="isPostReactModalOpen(post.id)"
    [isPostShareModalOpen]="isPostShareModalOpen(post.id)"
    [reactionList]="reactionList"
    [menuItems]="handleGetPostMenuItems(post)"
    [shareItems]="shareItems"
    (postMenu)="openPostMenu($event)"
    (reactModal)="openReactModal($event)"
    (shareModal)="openShareModal($event)"
    (shareAction)="handleShareAction($event)"
    (menuAction)="handlePostMenuAction($event)"
    (postDetailAction)="handlePostDetail($event)"
    (toggleJoinAction)="handleToggleJoin($event)"
  />
  <div class="border-b border-b-white/20 mb-3 mt-3"></div>
}

<!-- Skeleton Loading -->
@if (isPostLoading()) {
  @for (skeleton of skeletonArray; track $index) {
    <div class="rounded-lg px-4 py-3 hover:bg-gray-800/30 cursor-pointer">
      <div class="animate-pulse">
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center space-x-2">
            <div class="h-4 bg-gray-600 rounded w-24"></div>
            <div class="h-4 bg-gray-600 rounded w-20"></div>
          </div>
          <div class="flex items-center space-x-1">
            <div class="h-6 bg-gray-600 rounded-full w-12"></div>
            <div class="h-8 w-8 bg-gray-600 rounded-full"></div>
          </div>
        </div>

        <div class="flex flex-col space-y-2 mb-4">
          <div class="h-6 bg-gray-600 rounded w-3/4"></div>
          <div class="h-4 bg-gray-600 rounded w-full"></div>
          <div class="h-4 bg-gray-600 rounded w-2/3"></div>
        </div>

        <div class="flex items-center space-x-2">
          <div class="h-8 bg-gray-600 rounded-full w-16"></div>
          <div class="h-8 bg-gray-600 rounded-full w-16"></div>
          <div class="h-8 bg-gray-600 rounded-full w-16"></div>
        </div>
      </div>
    </div>
    <div class="border-b border-b-white/20 mb-3"></div>
  }
}

@if (!isPostLoading() && !hasMore() && posts().length > 0) {
  <div class="text-center py-8 text-gray-400">You've reached the end!</div>
}

@if (!isPostLoading() && metadata(); as meta) {
  @if (isExploreMetadata(meta)) {
    <div class="flex flex-col items-center justify-center mt-12 lg:mt-15">
      <img ngSrc="assets/empty.png" alt="empty" width="300" height="300" priority />
      <p class="text-white font-medium text-center">{{ meta.message }}</p>
      <p class="text-gray-700 text-sm mt-1">{{ meta.code }}</p>
    </div>
  }
} @else {
  @if (posts().length === 0 && !isPostLoading()) {
    <div class="text-center py-12 text-gray-400">No posts found</div>
  }
}
