<div class="-mt-3 grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8">
  <!-- left side form -->
  <div class="order-2 lg:order-1">
    <form [formGroup]="communityForm" (ngSubmit)="handleCommunitySubmit()" class="space-y-3">
      <!-- Community Name -->
      <div>
        <label for="community-name" class="mb-2 block font-medium text-gray-500"
          >Community Name:</label
        >
        <input
          type="text"
          id="community-name"
          formControlName="name"
          required
          class="w-full rounded-lg bg-gray-500/50 px-4 py-2 text-sm text-white placeholder:text-white/30 focus:border-transparent focus:ring-2 focus:ring-gray-500"
          placeholder="e.g., Angular Developers"
        />
        <p class="mt-1.5 flex justify-end text-xs text-gray-500 dark:text-gray-400">
          {{ communityNameLength }}/50 characters
        </p>
      </div>

      <!-- Description -->
      <div>
        <label for="description" class="mb-2 block font-medium text-gray-500">Description</label>
        <textarea
          id="description"
          formControlName="description"
          rows="6"
          required
          maxlength="500"
          class="w-full resize-none rounded-lg bg-gray-500/50 px-4 py-2 text-sm text-white placeholder:text-white/30 focus:border-transparent focus:ring-2 focus:ring-gray-500"
          placeholder="What is your community about?"
        ></textarea>
        <p class="mt-1.5 flex justify-end text-xs text-gray-500 dark:text-gray-400">
          {{ descriptionLength }}/300 characters
        </p>
      </div>

      <div class="flex justify-start gap-3 pt-3 dark:border-gray-700">
        <button
          type="button"
          [disabled]="isSubmitting()"
          (click)="cancelCreateCommunity()"
          class="cursor-pointer rounded-xl bg-gray-700 px-5 py-3 text-sm font-medium text-white transition-colors hover:bg-gray-600 disabled:cursor-not-allowed disabled:bg-gray-500/20 disabled:text-gray-600"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="communityForm.invalid"
          class="bg-secondary hover:bg-secondary/80 cursor-pointer rounded-xl px-5 py-3 text-sm font-medium text-white transition-colors disabled:cursor-not-allowed"
        >
          @if (this.isSubmitting()) {
            <div class="flex items-center justify-center px-15 py-2.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200"
                class="absolute h-8 w-8"
              >
                <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="40" cy="100">
                  <animate
                    attributeName="opacity"
                    calcMode="spline"
                    dur="2"
                    values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1"
                    repeatCount="indefinite"
                    begin="-.4"
                  ></animate>
                </circle>
                <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="100" cy="100">
                  <animate
                    attributeName="opacity"
                    calcMode="spline"
                    dur="2"
                    values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1"
                    repeatCount="indefinite"
                    begin="-.2"
                  ></animate>
                </circle>
                <circle fill="#FFEAC4" stroke="#FFEAC4" stroke-width="12" r="15" cx="160" cy="100">
                  <animate
                    attributeName="opacity"
                    calcMode="spline"
                    dur="2"
                    values="1;0;1;"
                    keySplines=".5 0 .5 1;.5 0 .5 1"
                    repeatCount="indefinite"
                    begin="0"
                  ></animate>
                </circle>
              </svg>
            </div>
          } @else {
            Create Community
          }
        </button>
      </div>
    </form>
  </div>

  <!-- right side preview -->
  <div class="order-1 lg:order-2">
    <div class="lg:sticky">
      <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Preview</h3>
      <p class="mb-4 text-sm text-gray-500 dark:text-gray-400">See how your community will look</p>

      <div
        class="bg-gray-black overflow-hidden rounded-lg border-2 border-white/30 shadow shadow-gray-500"
      >
        <div class="px-3 py-2">
          <div class="flex items-center space-x-2">
            <div class="flex h-6 w-7 items-center justify-center rounded-full bg-green-500">
              <span class="text-xs font-bold text-white">
                {{ communityName || 'Community Name' | initials }}
              </span>
            </div>

            <h4 class="line-clamp-1 w-full max-w-xs text-lg font-medium break-words text-white/50">
              <span> {{ communityName || 'Community Name' }} </span>
            </h4>
          </div>

          <div class="">
            <h4 class="ml-8 text-sm font-medium break-words text-white/30">
              <span> {{ descriptionValue || 'Your community description' }} </span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
