.hide-scrollbar {
  overflow-y: auto; /* Always reserve space for scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Hidden by default */
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.scrollbar-container:hover .hide-scrollbar,
.scrollbar-container.scrolling .hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.6) transparent;
}

.scrollbar-container:hover .hide-scrollbar::-webkit-scrollbar,
.scrollbar-container.scrolling .hide-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.scrollbar-container:hover .hide-scrollbar::-webkit-scrollbar-track,
.scrollbar-container.scrolling .hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scrollbar-container:hover .hide-scrollbar::-webkit-scrollbar-thumb,
.scrollbar-container.scrolling .hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scrollbar-container:hover .hide-scrollbar::-webkit-scrollbar-thumb:hover,
.scrollbar-container.scrolling .hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.9);
}

.scrollbar-container {
  transition: all 0.2s ease;
}

.slide-enter {
  animation: slideIn 0.2s ease-in, forwards;
  overflow: hidden;
}

.slide-leave {
  animation: slideOut 0.3s ease-out forwards;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    max-height: 0;
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    max-height: 1500px; /* Adjust based on your content */
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
  }
  to {
    max-height: 0;
    transform: translateY(-20px);
    opacity: 0;
  }
}
